<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG3: Characters</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@300&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
    <div class="container">
        <nav>
          <a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/fr/d/dc/Baldur%27s_Gate_III_Logo.png" class="logo"></a>
            <ul id="sidemenu">
                <li><a href="index.html">Home</a></li>
                <li><a href="characters.html">Characters</a></li>
                <li><a href="classes.html">Classes</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                
            </ul>
        </nav>

        <div class="cardcontainer">

        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://baldursgate3.wiki.fextralife.com/file/Baldurs-Gate-3/shadowheart-avatar.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Shadowheart</h1> 
                <p>One of Shar's dark disciples, Shadowheart was sent on a suicide mission to steal an item of great power.</p>
              <p>While wrestling with her faith and strange, untamed magic, Shadowheart has enemies on all sides.</p> 
              </div>
            </div>
            </div>

            <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="https://baldursgate3.wiki.fextralife.com/file/Baldurs-Gate-3/astariont-avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Astarion</h1> 
                  <p>Astarion prowled the night as a vampire spawn for centuries, serving a sadistic master until he was snatched away. </p> 
                  <p>Now he can walk in the light, but can he leave his wicked past behind?</p>
                </div>
              </div></div>

              <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="https://baldursgate3.wiki.fextralife.com/file/Baldurs-Gate-3/laezel.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Lae'zel</h1> 
                  <p>Lae'zel is a consummate warrior, ferocious even by the standards of a githyanki creche</p> 
                  <p>Faced with transforming into the very monster she has sworn to destroy, Lae'zel must prove herself worthy of rejoining her people.</p>
                </div>
              </div></div>

              <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="https://baldursgate3.wiki.fextralife.com/file/Baldurs-Gate-3/gale-avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Gale</h1> 
                  <p>Gale has one ambition: to become the greatest wizard Faerûn has ever known. Yet his thirst for magic led to disaster.</p> 
                  <p>A Netherese Destruction Orb beats in his chest, counting down to an explosion that can level a city</p>
                </div>
              </div></div>

              <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="https://baldursgate3.wiki.fextralife.com/file/Baldurs-Gate-3/karlach-avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Karlach</h1> 
                  <p>Fresh-escaped from Hell, Karlach is finally free of the archdevil Zariel - but not from the infernal engine Zariel planted in her chest.</p> 
                  <p>But even more premier in her mind? Exploring, finding like-minded travelers, falling in love...</p>
                </div>
              </div></div>

              <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="https://baldursgate3.wiki.fextralife.com/file/Baldurs-Gate-3/wyll-avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Wyll</h1> 
                  <p>Noble by birth, Wyll made his name as the heroic 'Blade of Frontiers'.</p> 
                  <p>He keeps his pact with a devil well-hidden, and is desperate to escape the hellish bargain - even if that means rescuing the creature that made the deal.</p>
                </div></div>
              </div>
          </div>
          <script type="text/javascript" src="{{ url_for('static', filename='static\js\script.js') }}"></script>
    </body>
</html>