<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG3: Resources</title>
    <link rel="stylesheet" href="..\static\css\style.css">
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@300&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
    <div class="container">
        <nav>
            <a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/fr/d/dc/Baldur%27s_Gate_III_Logo.png" class="logo"></a>
            <ul id="sidemenu">
                <li><a href="index.html">Home</a></li>
                <li><a href="characters.html">Characters</a></li>
                <li><a href="classes.html">Classes</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                
            </ul>
        </nav>

        <div class="header-text">
            <p>BALDUR'S GATE 3 <span>RESOURCES</span></p>
            <h3>Guides & Walkthroughs for Baldur's Gate 3 features various guides in different aspects of the game.</h3>
            <P> This includes detailed information on Area Walkthroughs, Boss Guides, Trophy achievements, Game Progress Route, Builds, and more. The purpose of the content provided is to help in finding a specific solution or guide on a certain part of the game that a player is having difficulty with.</P>
        </div>
    </div>
</div>


    <div class="container">
        <div class="resources-list">
            <div>
                <h2>Walkthrough</h2>
                <p>Walkthrough for Baldur's Gate 3 (BG 3) features a comprehensive guide that focuses on helping players get past all the locations and areas, as well as guides on enemies, bosses, NPCs, and items that are encountered in the game. </p>
                <a href="https://baldursgate3.wiki.fextralife.com/Walkthrough"><button class="buttonresources"><span>Link </span></button></a>
                
            </div>
            <div>
                <h2>Game Progress Route</h2>
                <p>features a recommended step-by-step progression path for the main campaign of the game, its goal is to provide players with the important points of the game and to avoid any missing important aspects such as significant Locations, NPCs, Items, as well as involved boss encounters.</p>
                <a href="https://baldursgate3.wiki.fextralife.com/Game+Progress+Route"><button class="buttonresources"><span>Link </span></button></a>
            </div>
            <div>
                <h2>Builds</h2>
                <p>player-created playable setups featuring BG3's different Classes, and Multiclasses along with their Races, Weapons, Armor, Abilities, Skills, Feats, and Features, that defines a specific array of playstyle or highlight a certain natural strength of a class or a character.</p>
                <a href="https://baldursgate3.wiki.fextralife.com/Builds"><button class="buttonresources"><span>Link </span></button></a>
            </div>
        </div>
    </div>

      </body>
      </html>
    
